body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

span.material-icons {
  cursor: pointer;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.button {
  outline: none;
  cursor: pointer;
  padding: 8px 15px;
  background: dodgerblue;
  border: none;
  border-radius: 2px;
  color: white;
}

.button:disabled {
  background-color: lightblue;
}

.button:active {
  background-color: deepskyblue;
}
